<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="LIVEPROJECT.E2EPROJECT.Listeners"/></listeners>
  <test thread-count="5" name="basetextvalidation">
    <classes>
      <class name="LIVEPROJECT.E2EPROJECT.BaseTest"/>
      </classes>
        </test> <!-- Test -->
        <test thread-count="5" name="getvalidation">
    <classes>
      <class name="LIVEPROJECT.E2EPROJECT.Gettext"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
